<h1>Board</h1>

<div class="board">
  <div class="board-image">
    <small><%= @board.last_update %></small><br>
    <%= link_to cl_image_tag(@board.image_url(:thumbnail)), image_path(@board.image_url) %><br>
    <small>
      Author: <b><%= link_to @board.user.email, @board.user %></b>
    </small>
  </div>

  <div class="board-description">
    <p><b>Description:</b> <%= @board.description %></p>
  </div>

  <div class="manage-block">
    <% if can? :destroy, :boards %>
      <%= link_to 'Destroy', @board, method: :delete,
                  data: { confirm: 'Are you sure?'},
                  class: "btn btn-danger" %> |
    <% end %>
    <% if can? :update, :boards %>
      <%= link_to 'Edit', edit_board_path(@board), class: "btn btn-primary" %> |
    <% end %>
      <%= link_to 'Back', :back, class: "btn btn-primary" %>
  </div>
</div>

<div style=" width:100%; height:1px; clear:both;"></div>

<h2>Comments <%= link_to '(+)', new_board_comment_path(@board) %></h2>
<div class="comments-container">
  <div class="add_comment">

  </div>
    <ul class="comment_list">
      <%= render partial: 'comments/comment', collection: @board.comments %>
    </ul>
  </div>
</div>