<h1>Board</h1>
<small><%= @board.last_update %></small>

<p>
  <%= link_to image_tag(@board.image.thumb), image_path(@board.image) %><br>
  <small>
    Author: <b><%= link_to @board.user.email, @board.user %></b>
  </small>
</p>

<p>Description: <b><%= @board.description %></b></p>

<p>
  <% if can? :destroy, :boards %>
    <%= link_to 'Destroy', @board, method: :delete, data: { confirm: 'Are you sure?'},
     class: "btn btn-danger" %> |
  <% end %>
  <% if can? :update, :boards %>
   <%= link_to 'Edit', edit_board_path(@board), class: "btn btn-primary" %> |
  <% end %>
   <%= link_to 'Back', :back, class: "btn btn-primary" %>
</p>

<hr>
  <h2>Comments <%= link_to '(+)', new_board_comment_path(@board) %></h2>
  <div class="comments-container">
    <ul class="comment_list">
      <%= render partial: 'comments/comment', collection: @board.comments %>
    </ul>
  </div>